form {
  label {
    display: block;
    margin-block-start: var(--spacing-m);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
  }

  label:has(input[type=checkbox]) {
    font-weight: var(--font-weight-body);
  }

  label + input[type=number] {
    margin-block-start: var(--spacing-xxs);
  }

  label input[type=checkbox] {
    margin-inline-end: var(--spacing-xs);
  }

  input[type=checkbox] {
    cursor: pointer;
  }

  input[type=number] {
    inline-size: 110px;
    padding: var(--spacing-xs) var(--spacing-s);
    background-color: var(--color-background);
    border: 1px solid transparent;
    border-radius: var(--border-radius-s);
  }

  input.invalid {
    border: 1px solid red;
  }

  button[type=submit] {
    margin-block-start: var(--spacing-m);
  }

  .error-helper {
    display: block;
    color: var(--color-text-invalid);
    font-size: 1.4rem;
    font-style: italic;
  }
}
